<h2>Extensions to JSON supported by JSONtext</h2>
<p>Beyond the standard JSON grammer, JSONtext adds the following support:</p>
<p>By default, support the "LabVIEW Extension" of NaN, Infinity and -Infinity values (in strict JSON, these are all null).&nbsp; &nbsp;This can be disabled with an input on JSONtext functions that convert from LabVIEW types.&nbsp; Alternately, using the Conditional Symbol "JSONtext_Strict==True" will force all such values to be converted to null.&nbsp; Note that JSONtext will always accept these spacial values, even when it will not write them.</p>
<p>Comments: supports comments of marked by</p>
<ul>
<li>//My Comment&nbsp;</li>
<li>/*my inline comment*/</li>
</ul>
<p>Special comma treatment in lists (Objects of Arrays), meant to recover from common User editing mistakes:</p>
<ul>
<li>If a comma in an Object or Array is missing, but there is a new line, then a comma is assumed.</li>
<li>If there is a trailing comma at the end of a list then that comma is ignored.</li>
</ul>
<p>(see the example "Comments and Commas.vi").</p>
<p>Example JSON:</p>
<p><span style="color: #0000ff;">// Supports Comments</span><br /><span style="color: #0000ff;">{</span><br /><span style="color: #0000ff;">"a":1 // like this</span><br /><span style="color: #0000ff;">"b":2 /*or this style</span><br /><span style="color: #0000ff;">of multiline comment*/</span><br /><span style="color: #0000ff;">"c": 3 //oh, and notice I'm forgetting some commas</span><br /><span style="color: #0000ff;">"d":4, // except I've left a trailing one at the end</span><br /><span style="color: #0000ff;">}</span></p>